*{
	matgin:0;
	padding:0;
}

    

/* Container */

.container{
	width: 90%;
	margin: 0 auto;
}
.navbar {
	overflow: hidden;
	
	height:90px;
	line-height: 70px;
	background-color:#FFFFFF;
	border-bottom: 2px solid #CF1D1D;
	margin-top: 0; 
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	
}
.logo{
	float: left;
	
	
}

/*this is gor menu tag*/
.menu  {
	float: right;
	padding-right: 40px;
}
.menu li{
	float: left;
	width: 100px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	list-style: none;
	display: inline-block;
	
}
.menu li a{
	display: block;
	color:#000000;
	text-decoration: none;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}
.menu li:hover{
	background: #CF1D1D;
	

}
.menu li a:hover{
	color:#FFFFFF;
}/* CSS Document */







.officehours{
	float:right;
	width: 40%;
	margin-top: 15px;
	
	
	
}
.officehours_text{
	margin-left: 0px;
	margin-right: 120px;
	font-size: 20px;
	color: black;
	text-align: center;

}
.officehours_head{
	margin-top: 20px;
	margin-right: 120px;
	text-align: center;
	color: #CF1D1D;
	font-size: 25px;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
	background-color: white;
	color: #000000;
	align-content: center;
	margin-top: 70px;
	margin-left: 70px;
}
th, td {
  padding: 15px;
  text-align: left;
}

.getaquote{
	width: 50%;
	

}
.text{
	text-align: left;
	margin-right: 30px;
	font-size: 19px;
	
}
.content{
	background-image:url("../image/b4ac7a46bde65ad7786029096efc84452a30139e6b9ddee03940e84744c3.jpg");
	background-repeat: no-repeat;
    
    background-color:cccccc;
	background-position: center;
    background-size: cover;
	width: 100%;
	
	
}
.getaquote_head{
	margin-top: 90px;
	padding-top: 30px;
	text-align: center;
	color: #CF1D1D;
	font-size: 25px;
}

.getaquote_text{
	margin-left: 20px;
	margin-right: 20px;
	text-align:left;
	font-size: 20px;
	color: black;
	
}

	
	


	

input[type=text], select, textarea, required {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #000; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  margin-left: 180px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  
  background-color:#CF1D1D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#E02727;
}






.column1 {
  float: left;
  width: 31%;
  margin-left: 30px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}